.searchbar{
    padding:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    bottom: 70px;
    position: absolute;
    width: 60%;
    margin: auto;
    border-radius:10px;
    border-color:#8A6DF2;
}

.a{
    font-size: 5px;
}

.button{
    padding:10px;
    position: absolute;
    bottom:70px;
    border-color:#8A6DF2;
}

.goal{
    position:relative;
    top:200px;
    font-size: 20px;
    height:100px;
}

.wallpaper{
    opacity: 0.5;
    
    position: absolute;
    height : 200px;
    width: 1000px;
}

.goal {
    opacity: 0; /* Initially hide the element */
    animation: fade-in 1s forwards; /* Apply the fade-in animation */
  }
  
  @keyframes fade-in {
    from {
      opacity: 0; /* Start with opacity 0 */
      transform: translateX(-50px); /* Start position off the screen to the left */
    }
    to {
      opacity: 1; /* Fade in to full opacity */
      transform: translateX(0); /* Move to the original position */
    }
  }

.goal {
    opacity: 0;
    transition: opacity 2s;
  }

.menu{
  
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color:white;
    border-bottom: #ababab solid 2px;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:#ababab;
    border-bottom:#8A6DF2;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    font:#ababab;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #ababab;;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
.navbar a:hover{
    font:#ababab;
}

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color:#8A6DF2;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.login{
    right:50px;
    
}

.button{
    border-radius: 5px;
    right:50px;
}